<div class="row">
    <div class="col-sm-6 col-md-3" data-toggle="tooltip" 
    title="☆けんこう☆<br>子供の病気やケガにはいつもハラハラ...心配はつきません<br>
    乳幼児になりやすい病気などなどについてまとめた情報がたくさん！">
        <%= image_tag 'home/menu/health.png', class: 'menu-img' %>
        <p class="text-center">けんこう</p>
    </div>
    <div class="col-sm-6 col-md-3" data-toggle="tooltip" 
    title="☆りょこう☆<br>
    子供が生まれてから初めての旅行はいつ頃でしたか？<br>
    これからデビューしようとしてるご家族も色々ために情報がたくさん！">
        <%= image_tag 'home/menu/trip.png', class: 'menu-img' %>
        <p class="text-center">りょこう</p>
    </div>
    <div class="col-sm-6 col-md-3" data-toggle="tooltip" 
    title="☆がくしゅう☆<br>
    子供のために習い事はさせたほうがいいかな？英語の勉強は始めてる？<br>
    テレビやママ友からたくさんの情報が入りどうしてあげるんのが一番自分の子にとっていいか迷いますよね。
    定番の習い事から番外編の習い事まで...「まなぶ」「たいけんする」についてまとめた情報がたくさん！">
        <%= image_tag 'home/menu/learn.png', class: 'menu-img' %>
        <p class="text-center">がくしゅう</p>
    </div>
    <div class="col-sm-6 col-md-3" data-toggle="tooltip" 
    title="☆りょうり☆<br>
    毎日、家族のために料理を作るのにどれくらいの時間をさいていますか？<br>
    とくにお仕事をしていたら、平日はほとんど子供と向き合える時間がないですよね...<br>
    そんなママやパパに週末の作り置きで少しでも自由な時間を作ってもらえるお手伝いができるかも
    ５日分のレシピを１つのページでみれて、すべての材料がまとめてあるから分かりやすい！<br>
    しかも、チェック機能付きだから買い物リストも作れちゃいます！
    レシピごとにページを移動したり、材料を調べる手間もはぶけちゃう<br>
    子供と一緒に楽しめるレシピも公開中！">
        <%= image_tag 'home/menu/cook.png', class: 'menu-img' %>
        <p class="text-center">りょうり</p>
    </div>
    <div class="col-sm-6 col-md-3" data-toggle="tooltip" 
    title="☆くらし☆<br>
    子供が生まれてからたくさん必要なものありますよねー<br>
    どれを買うかで迷った時、これって必要？などなど<br>
    たくさんある商品の中で少しでもその子に合うものを...と思ってまとめた情報がたくさん！">
        <%= image_tag 'home/menu/life.png', class: 'menu-img' %>
        <p class="text-center">くらし</p>
    </div>
    
    <div class="col-sm-6 col-md-3" data-toggle="tooltip" 
    title="☆おでかけ☆<br>
    休日は家族みんなで過ごせていますか？<br>
    オススメのテーマパークから公園など、子供と一緒に楽しめるところをまとめた情報がたくさん！">
        <%= image_tag 'home/menu/out.png', class: 'menu-img' %>
        <p class="text-center">おでかけ</p>
    </div>
    <div class="col-sm-6 col-md-3" data-toggle="tooltip" 
    title="☆etc...☆<br>
    初めてのこそだては色々大変...<br>
    子供は思い通りにいかないものが当たり前ー
    イライラしやすいですよね<br>
    少しでもそんなイライラを解消できればということでまとめた情報をのせてます！
    お役に立てればー">
        <%= image_tag 'home/menu/etc.png', class: 'menu-img' %>
        <p class="text-center">etc...</p>
    </div>
</div>      