<%= image_tag 'user/user-line.png', class: 'user-line-img' %>
<%= render 'static_pages/modal' %>
<div class="container">
    
    <div id="top-img">
        <%= image_tag 'home/img/img-1.jpg', class: 'top-img' %>
    </div>
    <div class="row proverb">
        <h3>■ 本日のこそだての格言</h3>
        <div class="sentence">
            <%= @sentence[0] %>
        </div>
        <div class="text-right sentence">
            <%= @sentence[1] %>          
        </div>
    </div>
    <div class="menu">
        <p class="title">MENU</p>
        <p>こそだて情報を7つのカテゴリーにわけて紹介しています！投稿やコメント、友達リクエスト...などなど色々な方法で情報交換もできるよ！<br/>
        どんな内容かは「くまさん」に聞いてみてね☆</p>
        <%= render 'static_pages/menu' %>
    </div>
    <div class="row">
        <% if @posts.any? %>
        <p class="title">Pick Up</p>
            <ul class="menu-posts">
            <%= render partial: 'shared/post', collection: @posts %>
            </ul>
        <% end %>
    </div> 
</div>


<div id="fixed">
    <div id="signUp-img">
        <%= link_to image_tag('home/home-signUp.png', class: "signUp-img") , new_user_registration_path %>
    </div>
    <div id="login-img">
        <%= link_to image_tag('home/home-login.png', class: "login-img") , new_user_session_path %>
    </div>
</div>