
<li class="talk-box" id="talk <%= talk.id %>">
    <% user = User.find(talk.written_user_id) %>
    <% if talk.written_user_id == current_user.id %>
        <div class="row">
            <span class="timestamp">Writtend <%= time_ago_in_words(talk.created_at) %> ago</span></br>
            <div class="col-sm-10 text-left talk-fram-user">
            <%= talk.message %>
            </div>
            <div class="col-sm-2 talk-face text-center">
                <% if @user.image? %>
                    <%= image_tag @user.image.thumb.url, class: 'talk-user-face-img' %>
                <% else %>
                    <%= image_tag 'user/user-face.png', class: 'talk-user-face-img' %>
                <% end %>
                </br><%= user.name %>
            </div>
        </div>
    <% else %>
        <div class="row ">
            <div class="col-sm-2 text-center">
                <% if @user.image? %>
                    <%= image_tag @user.image.thumb.url, class: 'talk-user-face-img' %>
                <% else %>
                    <%= image_tag 'user/user-face.png', class: 'talk-user-face-img' %>
                <% end %>
                </br><%= user.name %>
            </div>
            <div class="col-sm-10 text-left talk-fram">
                <%= talk.message %>
            </div>
            <span class="timestamp">Writtend <%= time_ago_in_words(talk.created_at) %> ago</span>
        </div>
    <% end %>
</li>