<li>
    <div class="row">
        <div class="col-md-1">
            <% if user.image? %>
                <%= image_tag user.image.thumb.url %>
            <% else %>
                <%= image_tag 'user/user-face.png', class: 'index-user-face-img' %>
            <% end %>
        </div>
        <div class="col-md-3 text">
            </br><%= link_to user.name, user %>
            <% if current_user.admin? && !(current_user == user) %>
             | <%= link_to "delete", user, method: :delete, data: {confirm: "You sure?"} %> |
             <% end %>
        </div>
        <div class="col-md-8">
             </br><%= truncate(user.message, length:80) %>
        </div>
    </div>
</li>