<li>
   <% if user.image? %>
            <%= image_tag user.image.thumb.url %>
        <% else %>
            <%= image_tag 'user/user-face.png', class: 'index-user-face-img' %>
        <% end %>
    <%= link_to user.name, user %>
    <% if current_user.admin? && !(current_user == user) %>
     | <%= link_to "delete", user, method: :delete, data: {confirm: "You sure?"} %> |
     <% end %>
    <%= user.message %>
</li>