<% provide(:title, @user.name) %>
<%= image_tag 'user/user-line.png', class: 'user-line-img' %>
<div class="container">
    <div class="row">
        <%= @user.message %>
        <div class="col-sm-4">
            <% if @user.image? %>
                <%= image_tag @user.image.thumb.url %>
            <% else %>
                <%= image_tag 'user/user-face.png', class: 'show-user-face-img' %>
            <% end %>
            <%= @user.name %>
            <%= link_to "編集", edit_user_registration_path %>
        </div>
        <div class="col-sm-8">
            <%= link_to "Member list", users_path %>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <% if @user.posts.any? %>
                <h3>投稿一覧 <%= @user.posts.count %></h3>
                <ol class="posts">
                    <%= render @posts %>
                </ol>
                <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
                <% end %>
        </div>
    </div>
</div>
            