<% provide(:title, @user.name) %>
<%= image_tag 'user/user-line.png', class: 'user-line-img' %>
<div class="container">
    <div class="row">
        <div class="col-sm-12 user-message">
            <p><%= @user.message %></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 text-center">
            <% if @user.image? %>
                <%= image_tag @user.image.thumb.url, class: 'show-user-face-img' %>
            <% else %>
                <%= image_tag 'user/user-face.png', class: 'show-user-face-img' %>
            <% end %>
            <p><%= @user.name %> さん</p>
            <% if current_user == @user %>
                <%= link_to "編集", edit_user_registration_path %>
            <% elsif current_user.accept?(@user) %>
                <p>☆ 友達 ☆</p>
            <% elsif current_user.friend_request?(@user) %>
                <p>友達リクエスト中！</p>
            <% elsif current_user.wait?(@user) %>
                <p>友達リクエストが届いてるよ！</p>
            <%else %>
                <%= link_to "Friendリクエストを送る", friend_user_path %>
            <% end %>
        </div>
        <div class="col-sm-8 friends-box">
            <% if current_user == @user %>
                <% if @friends.present? %>
                    <p><%= link_to "■ Frinds", friends_list_user_path(@user) %> <span class="count"><%= @friends.count %></span></p>
                    <% @accepts = @friends.take(5) %>
                    <ul>
                        <%= render partial: 'users/friend', collection: @accepts %>
                    </ul>
                <% end %>
                <% if @receive_friends.present? %>
                    <p><%= link_to "■ Friendリクエストが届きました！", friends_list_user_path(@user) %> <span class="count"><%= @receive_friends.count %></span></p>
                    <% @receive = @receive_friends.take(5) %>
                    <ul>
                        <%= render partial: 'users/receive_friend', collection: @receive %>
                    </ul>
                <% end %>
                <% if @request_friends.present? %>
                    <p><%= link_to "■ Friendリクエスト中！", friends_list_user_path(@user) %> <span class="count"><%= @request_friends.count %></span></p>
                    <% @request = @request_friends.take(5) %>
                    <ul>
                        <%= render partial: 'users/request_friend', collection: @request %>
                    </ul>
                <% end %>
                <p><a href ="mailto:""">■ 友達を招待する</a></p>
            <% elsif current_user.accept?(@user) %>
            <p>☆<%= @user.name%>さんとお話をしよう！聞きたいことなどあればメッセージを書いて送ってね<p>
                <%= form_for @talk do |f| %>
                    <%= f.hidden_field :receiver_user_id, :value => @user.id %>
                    <%= f.hidden_field :written_user_id, :value => current_user.id %>
                    <%= render 'shared/error_messages', object: f.object %>
                    <div class="field">
                        <%= f.text_area :message, autofocus: true, placeholder: "message....", class: "form-control" %>
                    </div>
                    <div class="row">
                        <div class="talk col-sm-5">
                            <%= f.submit "メッセージを送る", class: "btn btn-lg submit" %>
                        </div>
                    </div>
                          
                <% end %>
                <p>☆Talk Roomで今までの会話が見れるよ</p>
                <div class="row">
                        <div class="col-sm-5">
                           <%= link_to 'Talk Room', talk_user_path, class: "btn btn-lg talk-btn" %>
                        </div>
                    </div>
                    
                
            <% end %>
            
        </div>
    </div>
    <div class="row">
        <section class="py-5">
          <ul class="nav nav-pills nav-fill">
            <li class="nav-item"><a href="#posts" class="nav-link active" data-toggle="tab">投稿　<span class="count"><%= @user.posts.count %></span></a></li>
            <li class="nav-item"><a href="#likes" class="nav-link" data-toggle="tab">お気に入り　<span class="count"><%= @user.likes.count %></span></a></li>
            <li class="nav-item"><a href="#comments" class="nav-link" data-toggle="tab">コメント　<span class="count"><%= @user.comments.count %></span></a></li>
            <li class="nav-item"><a href="#ingredients" class="nav-link" data-toggle="tab">買い物リスト</a></li>
          </ul>
          <div class="tab-content">
            <div id="posts" class="tab-pane active">
                <% if @user.posts.any? %>
                    <ul class="post-index">
                        <%= render partial: 'posts/post', collection: @posts %>
                    </ul>
                <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
                <% end %>
            </div>
            <div id="likes" class="tab-pane">
                <% if @user.likes.any? %>
                    <ul class="post-index">
                        <% @likes.each do |like| %>
                            <% post = Post.find_by(id: like.post_id) %>
                            <li>
                                <%= image_tag 'post/like.png', class: 'show-like-img' %>
                                <%= link_to post.title, post_path(post)  %>
                                <%= post.main_content %>
                            </li>
                        <% end %>
                    </ul>
                <% end %>
                <%= will_paginate @likes, renderer: BootstrapPagination::Rails %>
            </div>
            <div id="comments" class="tab-pane">
                <% if @user.comments.any? %>
                    <ul class="post-index">
                        <% @comments.each do |comment| %>
                            <% post = Post.find_by(id: comment.post_id) %>
                            <li>
                                <%= image_tag 'post/comment.png', class: 'show-like-img' %>
                                <%= link_to post.title, post_path(post)  %>
                                <%= post.main_content %>
                                <p class="text-right"><%= comment.content %></p>
                            </li>
                        <% end %>
                    </ul>
                <% end %>
                <%= will_paginate @comments, renderer: BootstrapPagination::Rails %>
            </div>
            <div id="ingredients" class="tab-pane">
                <%= render 'users/shopping' %>
            </div>
          </div>
      </section>
    </div>
</div>