<% provide(:title, 'login') %>
<%= image_tag 'user/user-line.png', class: 'user-line-img' %>
<div class="container">
  <h2>Log in</h2>
  <%= image_tag 'user/login.png', class: 'signUp-img' %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>
      
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="actions">
          <%= f.submit "Log in", class: "btn btn-large submit" %>
        </div>
      </div>
    </div>
  <% end %>
<%= link_to "新規登録はこちら！", new_user_registration_path %>
</div>

