<% provide(:title, @post.title) %>
<%= image_tag 'user/user-line.png', class: 'user-line-img' %>
<div class="container">
    <div class="row">
        <div class="col-sm-3  post-show-top">
            <% if @post.user.image? %>
                <%= image_tag @post.user.image.thumb.url %>
            <% else %>
                <%= image_tag 'user/user-face.png', class: 'index-user-face-img' %>
            <% end %>
            <%= link_to @post.user.name, user_path(@post.user) %>
            <p class="timestamp">Posted <%= time_ago_in_words(@post.created_at) %> ago</p>
        </div>
        <% if current_user == @post.user %>
            <div class="col-sm-2 post-edit">                        
                <%= link_to "edit", edit_post_path %>
            </div>
            <div class="col-sm-2 col-sm-offset-1 post-delete">
                <%= link_to "delete",@post, method: :delete, data: { confirm: "You sure?" }, title: @post.title %>
            </div>
        <% end %>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <p class="j-title"><%= @post.title %></p>
            <p class="main-content"><%= @post.main_content %></p>
        </div>
        <div class="col-sm-2 text-right like-box likes-content">
            <p class="category"><%= @post.category %></p>
            <%= image_tag 'post/category.png', class: 'category-img' %>
            <p class="likes-count"><%= @post.likes.count %></p>
            <% if current_user.like?(@post) %>
               <%= link_to like_path, method: :delete do %>
                    <%= image_submit_tag 'post/like.png', class: 'like-img' %>
                <% end %>
            <% else %>
                <%= form_for @like do |f| %>
                <%= f.hidden_field :post_id, :value => @post.id %>
                    <%= image_submit_tag 'post/unlike.png', class: 'like-img' %>
                <% end %>
            <% end %>
        </div>
    </div>

    <% if @post.post_details.any? %>
        <% @details = @post.post_details %>
        <ul>
            <%= render partial: 'posts/detail', collection: @details %>
        </ul>
    <% end %>

    <p class="post-comment"><span>COMMENT</span></p>
    
    <% if @comments.any? %>
        <% @comments.each do |comment| %>
            <div class="col-sm-8">
                <%= comment.content %>
            </div>
            <div class="col-sm-4">
                <%= comment.user.name %>
            </div>
        <% end %>
    <% end %>
    
    
    <%= form_for @comment do |f| %>
    <%= f.hidden_field :post_id, :value => @post.id %>
    <div class="row">
        <div class="field text-center">
          <%= f.text_area :content, placeholder: "コメントする", class: "comment-field" %>
        </div>
              <%= f.submit "送信", class: "btn btn-lg comment-submit" %>
    </div>
  <% end %>
</div>

