<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
  <%= render 'layouts/header' %>
    
    <% flash.each do |key, value| %>
      <div class="alert-<%= bootstrap_class_for(key) %> text-center"><%= value %></div>
    <% end %>
<%= yield %>
<%= debug(params) if Rails.env.development? %>

<% if signed_in? %>
  <ul class="home-menu">
    <li><%= link_to "投稿", new_post_path, class: "fixed-post" %></li>
    <li><%= link_to "My Page", current_user, class: "fixed-myPage" %></li>
    <li><%= link_to "Logout", destroy_user_session_path, method: "delete", class: "fixed-logout" %></li>
    <li id="fat-menu" class="dropdown">
        <a href="#" class="dropdown-toggle fixed-menu" data-toggle="dropdown">
          Menu <b class="caret"></b>
        </a>
        <ul class="dropdown-menu fixed_details">
          <li><%= link_to "投稿index", posts_path %></li>
          <li><%= link_to "Member list", users_path %></li>
          <li><%= link_to "がくしゅう", learns_path %></li>
          <li><%= link_to "けんこう", healths_path %></li>
          <li><%= link_to "りょうり", cooks_path %></li>
          <li><%= link_to "おでかけ", goes_path %></li>
          <li><%= link_to "くらし", lifes_path %></li>
          <li><%= link_to "りょこう", travels_path %></li>
          <li><%= link_to "etc...", others_path %></li>
        </ul>
    </li>
  </ul>
<% end %> 
  
<script>
  $(function() {
    $('.login-img').hover(
      function() {
        $(this).css({'left':'0', 'bottom':'0'});
      },
      function() {
        $(this).css({'left':'-112px', 'bottom': '-100px'});
      }
    );
    
    $('.signUp-img').hover(
      function() {
        $(this).css({'right':'0', 'top':'0'});
      },
      function() {
        $(this).css({'right':'0', 'top': '-120px'});
      }
    );
    
        $('.recipe-more').click(function() {
      var $more = $(this).find('.recipe-contain');
      if($more.hasClass('open')) {
        $more.removeClass('open');
        $more.slideUp();
        $(this).find('.recipe-click').text('+ recipe & ingredient +');
      }else {
        $more.addClass('open');
        $more.slideDown();
        $(this).find('.recipe-click').text('- close');
      }
      });
    
    $('[data-toggle="tooltip"]').tooltip({html: true});
    
    $('.info').click(function() {
      var $more = $(this).find('.more-info');
      if($more.hasClass('open')) {
        $more.removeClass('open');
        $more.slideUp();
        $(this).find('span').text('+ more info');
      }else {
        $more.addClass('open');
        $more.slideDown();
        $(this).find('span').text('- close');
      }
      });
      
      var count = setInterval(changeImg, 3000);//2秒間隔
      i = 1;
      function changeImg(){
          $("#top-img").children("img").attr("src","/assets/home/img/img-" + i + ".jpg");
          if(i <= 2){
              i++;
          }
          else{
              i = 1;
          }
      }
      
      
  });
</script>
</body>
</html>
